.portrait{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
body{
  font-family: "Archivo", sans-serif;
}
.projects{
  width:700px;
  height: 400px;
  
}

.container{
  margin-bottom: 20px;
}

.bold{
  font-weight: bold;
}