.portrait{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
body{
  font-family: "Archivo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  font-family: "Bungee", sans-serif;
  
}
.intro{
  font-family: "Permanent marker", sans-serif;
  font-size: 1.5rem;
}
.projects{
  width: 500px;
  height: 300px;
  
}

.container{
  font-family: "Comic Relief", sans-serif;
  font-size: 1.2rem;
}

.bold{
  font-weight: bold;
}

.projects-container,
.contact{
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
}
.projects-container{
  gap: 30px;
}

.footer{
  margin-top: 6rem;
  background-color:black ;
  color: white;
 padding: 10px;
 
}
.workplace{
  width: 100vw;
  height: 450px;
}

.icons{
  font-size:1.5rem;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.svg,
.svg-link{
  width: 25px;
  height: 25px;
    cursor: pointer;
}

.svg{
      filter: invert(1);
}

.icon{
  font-size: 30px;
  padding: 5px;
}


@media screen and (max-width: 768px){
.projects-container{
  grid-template-columns: 1fr;
}
.contact{
    grid-template-columns: 1fr;
}
.projects{
  width: 90%;
  height: auto;
}
.footer{
  padding-left: 50px;
}
}

@media screen and (min-width: 769px) and (max-width: 1100px){
  .projects-container{
  grid-template-columns: 1fr;
}
.contact{
    grid-template-columns: repeat(2, 350px);
}
.workplace{
  width: 95vw;
  height: 250px;
}
.footer{
  padding: 15px;
}
}